.container {
    flex-grow: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: #3f51b5;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}